<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>


<body>
<h1>Welcome to Speed OP, <%= @user.name %></h1>
<p>
  Dear <%= @user.name %>,
  You are receiving this automatic notification
  because because you decide to.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>If you have questions about life, ask Siri.</p>
</body>
</html>
