<% @title="- Signup" %>
<div class="jumbotron">
  <div class="row">
    <% unless @user.omniauth? %>
      <div class='col-md-4'>
        <!--<h1>Signup</h1>-->
    <% else %>
      <div class='col-md-4'>
        <h1>Verify Details</h1>
    <% end %>

    <%= render 'users/form' %>
    <br>
    <!-- DropUp Signup Menu -->
    <div class="btn-group dropup">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Signup with an Account <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="http://dashboard.speedop.com/auth/google_oauth2"><i class="fa fa-google"></i> Google </a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://dashboard.speedop.com/auth/twitter"><i class="fa fa-twitter"></i> Twitter </a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://dashboard.speedop.com/auth/linkedin"><i class="fa fa-linkedin"></i> LinkedIn </a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://dashboard.speedop.com/auth/facebook"><i class="fa fa-facebook"></i> Facebook </a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://dashboard.speedop.com/auth/github"><i class="fa fa-github"></i> Github </a></li>
      </ul>
    </div>
    </div>
    <br>
    <div class='col-md-8'>
      <img src="/signup.jpg", class="img-responsive img-rounded" />
    </div>
    </div>
  </div>
</div>
