<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

    <%= render 'users/form' %>
    <br>
    <!-- DropUp Signup Menu -->
    <div class="btn-group dropup">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Signup with an Account <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="http://127.0.0.1:3000/auth/google"><i class="fa fa-google"></i> Google </a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://127.0.0.1:3000/auth/twitter"><i class="fa fa-twitter"></i> Twitter </a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://127.0.0.1:3000/auth/linkedin"><i class="fa fa-linkedin"></i> LinkedIn </a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://127.0.0.1:3000/auth/facebook"><i class="fa fa-facebook"></i> Facebook </a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://127.0.0.1:3000/auth/github"><i class="fa fa-github"></i> Github </a></li>
      </ul>
    </div>
    </div>
    </div>
  </div>
</div>
