<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hello </h1>
<p>
  Thank you for your message, which has been added to a queuing system… You are currently in 352nd place, and can expect to receive a reply in approximately 13 weeks.
</p>
<p>
  Thanks for a responce, <%= @contact.name %>!
</p>
<p>
  Original message:
</p>
<p>
  <%= @contact.message %>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
</body>
</html>
