<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body>
  <h2>Hello, <%= @contact.name %></h2>
  <p>
    Thanks for a responce!
  </p>
  <p>
    Message:
  </p>
  <p>
    <%= @contact.message %>
  </p>
  <p>
    To login to the site, just follow this link: <%= @url %>.
  </p>
  </body>
</html>
