<div class="page-header">
  <%= link_to sites_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @site, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-search"></span>
    Show
  <% end %>
  <h1>Updating Site</h1>
</div>

<%= render 'form' %>
